/* Generic properties */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 30px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* spacing properties */
.mb-30 {
    margin-bottom: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}

/* Header properties */
header h1 {
    text-transform: uppercase;
}